<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<stylesheet src="/global/file/styles/layout.css"/>
		<stylesheet src="/global/file/styles/global.css"/>
		<stylesheet src="/global/template/base/file/layout/admin.css"/>
		<script src="/global/file/scripts/cbdom.js"/>
		<script src="/global/file/scripts/bpmm.js"/>
		<script src="/global/template/base/file/layout/admin.js"/>
		<title><var name="title"/></title>
	</head>
	<body>
		<div id="header">
			<image id="cogs" src="/global/file/images/cogs.jpg" alt="Cogs"/>
			<image id="csslogo" src="/global/file/images/css.gif" alt="This site uses valid CSS"/>
			<image id="htmllogo" src="/global/file/images/html401.gif" alt="This site uses valid HTML 4.01"/>
			<div class="adminpanel" id="pageadmin">
				<p style="margin: 0; padding: 5px;"><anchor method="create" nest="true" href="/global/page"><image class="icon" src="/global/file/images/new.gif"/>New Page</anchor></p>
				<p style="margin: 0; padding: 5px;"><editlink><image class="icon" src="/global/file/images/edit.gif"/>Edit Page</editlink></p>
				<p style="margin: 0; padding: 5px;"><anchor method="view" href="/internal/page/listusers"><image class="icon" src="/global/file/images/edit.gif"/>Users</anchor></p>
			</div>
			<image id="logo" src="/global/file/images/logo.gif" alt="Brass Bullet Ltd."/>
			<div id="swim">
				<p style="text-align: center">Brass Bullet Ltd. website content management system provided by</p>
				<p style="text-align: center"><image src="/global/file/images/swimlogo.gif"/> by <image src="/global/file/images/bpitlogo.gif"/></p>
			</div>
		</div>
		<div id="menubar">
			<block id="menu" class="admin" canchange="false" format="menu"/>
		</div>
		<div id="sidebar">
			<h1 id="sidetitle"><var name="title"/></h1>
			<block id="sidemenu"/>
		</div>
		<div id="body">
			<block id="highlight" class="admin" format="highlight"/>
			<block id="content" class="admin"/>
			<block id="content2" class="admin"/>
		</div>
		<div id="curve"></div>
		<div id="footer">
			<div id="base">
				<image id="iip" src="/global/file/images/iip.gif" alt="Brass Bullet Ltd. are an Investor in People"/>
				<p id="mission">&#145;promoting excellence through the application of engineering best practice&#146;</p>
				<p id="copyright">&copy; Brass Bullet Ltd. Developed by <a target="_blank" href="http://www.blueprintit.co.uk">Blueprint IT Ltd</a>.</p>
			</div>
		</div>
		<image id="wheels" src="/global/file/images/wheels.gif" alt="Watching the wheels"/>
	</body>
</html>
