<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<if hasVar="keywords"><meta name="keywords" content="<var name="keywords"/>">
		</if><if hasVar="description"><meta name="description" content="<var name="description"/>">
		</if><stylesheet src="/global/file/styles/global.css"/>
		<stylesheet src="/global/file/styles/calloutlayout.css"/>
		<title><var name="title"/></title>
	</head>
	<body>
		<div id="header">
		</div>
		<div id="title"><h1><var name="title"/></h1></div>
		<div id="body">
			<div id="main">
				<div id="callout">
					<block id="image"/>
					<image id="overlay" src="/global/file/images/callout.gif"/>
				</div>
				<block id="content"/>
			</div>
		</div>
		<div id="footer">
			<div id="buttons">
				<div class="button"><anchor class="print" target="_blank" template="global/template/print">Print</anchor></div>
			</div>
		  <p><anchor href="/global/page/42226">Contact <image alt="telephone" src="/global/file/images/telephone.gif"/> +44 (0)1639 896777</anchor></p>
		</div>
		<div id="menubar">
		  <block cellspacing="0" id="mainmenu"/>
		</div>
		<block id="sidemenu"/>
	</body>
</html>
