Options +FollowSymLinks 

RewriteEngine on 
RewriteBase /

RewriteRule ^onlinestore$ redirect.php
RewriteRule ^onlinestore/(.*) site/addons/cubecart/$1
RewriteRule ^stats$ redirect.php
RewriteRule ^stats/(.*) site/addons/stats$1

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* swim.php [L]

<Files access>
	Deny from all
</Files>

<Files .*>
	Deny from all
</Files>
