Options +FollowSymLinks 

RewriteEngine on 
RewriteBase /Swim

RewriteRule ^onlinestore(.*) addons/cubecart$1
RewriteRule ^stats(.*) addons/stats$1

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* swim.php [L]

<Files access>
	Deny from all
</Files>

<Files .*>
	Deny from all
</Files>
