<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<stylesheet src="template/layout/layout.css"/>
		<stylesheet src="template/layout/admin.css"/>
		<stylesheet src="template/layout/menus.css"/>
		<stylesheet src="template/layout/content.css"/>
		<script src="template/layout/cbdom.js"/>
		<script src="template/layout/bpmm.js"/>
		<script src="template/layout/admin.js"/>
		<title><var name="title"/></title>
	</head>
	<body>
		<div id="header">
			<image id="cogs" src="template/layout/cogs.jpg" alt="Cogs"/>
			<image id="csslogo" src="template/layout/css.gif" alt="This site uses valid CSS"/>
			<image id="htmllogo" src="template/layout/html401.gif" alt="This site uses valid HTML 4.01"/>
			<div class="adminpanel" id="pageadmin">
				<p style="margin: 0; padding: 5px;"><anchor method="create" nest="true" href="/global/page"><image class="icon" src="template/layout/new.gif"/>New Page</anchor></p>
				<p style="margin: 0; padding: 5px;"><editlink><image class="icon" src="template/layout/edit.gif"/>Edit Page</editlink></p>
			</div>
			<image id="logo" src="template/layout/logo.gif" alt="Brass Bullet Ltd."/>
			<div id="swim">
				<p style="text-align: center">Brass Bullet Ltd. website content management system provided by</p>
				<p style="text-align: center"><image src="template/layout/swimlogo.gif"/> by <image src="template/layout/bpitlogo.gif"/></p>
			</div>
			<div id="menuadmin" class="adminpanel">
				<editlink block="menu" onmouseover="highlight('spacing')" onmouseout="unhighlight('spacing')"><image class="icon" src="template/layout/edit.gif"/>Edit</editlink>
			</div>
		</div>
		<div id="menubar">
			<div id="spacing">
				<block id="menu" class="admin"/>
			</div>
		</div>
		<block id="sidemenu"/>
		<div id="sideadmin" class="adminpanel">
			<editlink block="sidemenu" onmouseover="highlight('sidemenu')" onmouseout="unhighlight('sidemenu')"><image class="icon" src="template/layout/edit.gif"/>Edit</editlink>
		</div>
		<div id="contentadmin" class="adminpanel">
			<editlink block="content" onmouseover="highlight('content')" onmouseout="unhighlight('content')"><image class="icon" src="template/layout/edit.gif"/>Edit</editlink>
		</div>
		<div id="body">
			<block id="content" class="admin">
				<content/>
			</block>
		</div>
		<div id="footer">
			<div id="curve"></div>
			<div id="base">
				<image id="iip" src="template/layout/iip.gif" alt="Brass Bullet Ltd. are an Investor in People"/>
				<p id="mission">promoting excellence through the application of engineering best practice</p>
				<p id="copyright">&copy; Brass Bullet Ltd. Developed by <a target="_blank" href="http://www.blueprintit.co.uk">Blueprint IT Ltd</a>.</p>
			</div>
		</div>
		<image id="wheels" src="template/layout/wheels.gif" alt="Watching the wheels"/>
	</body>
</html>
