<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<stylesheet src="template/layout/layout.css"/>
		<stylesheet src="template/layout/admin.css"/>
		<stylesheet src="template/layout/menus.css"/>
		<stylesheet src="template/layout/content.css"/>
		<script src="template/layout/cbdom.js"/>
		<script src="template/layout/bpmm.js"/>
		<script src="template/layout/fixie.js"/>
		<title><var name="title"/></title>
	</head>
	<body>
		<div id="header">
			<image id="cogs" src="template/layout/cogs.jpg" alt="Cogs"/>
			<div class="adminpanel" id="pageadmin"><anchor method="create" nest="true" href="/global/page">New Page</anchor> <editlink>Edit Page</editlink></div>
			<image id="logo" src="template/layout/logo.gif" alt="Brass Bullet Ltd."/>
		</div>
		<div id="menubar">
			<div id="spacing">
				<div id="menuadmin" class="adminpanel">
					<editlink block="menu">Edit</editlink>
				</div>
				<block id="menu" class="admin"/>
			</div>
		</div>
		<div id="body">
			<block id="sidemenu"/>
			<div id="sideadmin" class="adminpanel">
				<editlink block="sidemenu">Edit</editlink>
			</div>
			<block id="content" class="admin">
				<div id="contentadmin" class="adminpanel">
					<editlink block="content">Edit</editlink>
				</div>
				<content/>
			</block>
		<div id="footer">
			<image id="curve" src="template/layout/curve.gif" alt="Border curve"/>
			<image id="wheels" src="template/layout/wheels.gif" alt="Watching the wheels"/>
			<p>promoting excellence through the application of best practices</p>
			<image id="iip" src="template/layout/iip.gif" alt="Investor in People"/>
		</div>
		</div>
		<script type="text/javascript">checkSizes();</script>
	</body>
</html>
