<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<if hasVar="keywords"><meta name="keywords" content="<var name="keywords"/>">
		</if><if hasVar="description"><meta name="description" content="<var name="description"/>">
		</if><stylesheet src="template/file/layout/layout.css"/>
		<stylesheet src="template/file/layout/menus.css"/>
		<stylesheet src="template/file/layout/content.css"/>
		<script src="template/file/layout/cbdom.js"/>
		<script src="template/file/layout/bpmm.js"/>
		<script src="template/file/layout/print.js"/>
		<title><var name="title"/></title>
	</head>
	<body>
		<div id="header">
			<image id="cogs" src="template/file/layout/cogs.jpg" alt="Cogs"/>
			<anchor href="/"><image id="logo" src="template/file/layout/logo.gif" alt="Brass Bullet Ltd."/></anchor>
			<!--<div id="searchbox">
				<form method="GET" action="http://www.google.com/custom">
					<input type="hidden" name="cof" value="S:http://www.blueprintit.co.uk;AH:center;BIMG:http://www.blueprintit.co.uk/testbed/swim.php/view/global/template/base/layout/background.gif;AWFID:2631239e0750e52c;">
					<input type="hidden" name="domains" value="brass-bullet.co.uk">
					<input type="hidden" name="sitesearch" value="brass-bullet.co.uk">
					<a href="http://www.google.com/search">
						<img src="http://www.google.com/logos/Logo_25blk.gif" border="0" alt="Google" align="middle">
					</a>
					<input TYPE="text" name="q" size="31" maxlength="255" value="">
					<input type="submit" name="sa" VALUE="Search">
				</form>
			</div>-->
		</div>
		<div id="menubar">
			<div id="spacing">
				<block id="menu"/>
			</div>
		</div>
		<h1 id="sidetitle"><var name="title"/></h1>
		<block id="sidemenu"/>
		<div id="body">
			<block id="highlight"/>
			<block id="content"/>
			<p id="printLink"><anchor href="" target="_blank" template="global/print">view printable version</anchor></p>
		</div>
		<div id="footer">
			<div id="curve"></div>
			<div id="base">
				<image id="iip" src="/global/template/base/file/layout/iip.gif" alt="Brass Bullet Ltd. are an Investor in People"/>
				<p id="mission">&#145;promoting excellence through the application of engineering best practice&#146;</p>
				<p id="copyright">&copy; Brass Bullet Ltd. Developed by <a target="_blank" href="http://www.blueprintit.co.uk">Blueprint IT Ltd</a>.</p>
			</div>
		</div>
		<image id="wheels" src="/global/template/base/file/layout/wheels.gif" alt="Watching the wheels"/>
	</body>
</html>
