<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<if hasVar="keywords"><meta name="keywords" content="<var name="keywords"/>">
		</if><if hasVar="description"><meta name="description" content="<var name="description"/>">
		</if><stylesheet src="template/layout/layout.css"/>
		<stylesheet src="template/layout/menus.css"/>
		<stylesheet src="template/layout/content.css"/>
		<script src="template/layout/cbdom.js"/>
		<script src="template/layout/bpmm.js"/>
		<script src="template/layout/print.js"/>
		<title><var name="title"/></title>
	</head>
	<body>
		<div id="header">
			<image id="cogs" src="template/layout/cogs.jpg" alt="Cogs"/>
			<anchor href="/"><image id="logo" src="template/layout/logo.gif" alt="Brass Bullet Ltd."/></anchor>
		</div>
		<div id="menubar">
			<div id="spacing">
				<block id="menu"/>
			</div>
		</div>
		<h1 id="sidetitle"><var name="title"/></h1>
		<block id="sidemenu"/>
		<div id="body">
			<div id="print">
				<anchor id="printlink" onmouseover="mouseOverPrint();" onmouseout="mouseOutPrint();" onclick="return mouseClickPrint();"
				 href="" target="_blank" template="global/print" title="View in printable form"><image id="printicon" src="template/layout/print.jpg"/></anchor>
			</div>
			<block id="content"/>
		</div>
		<div id="footer">
			<div id="curve"></div>
			<div id="base">
				<image id="iip" src="/global/template/base/layout/iip.gif" alt="Brass Bullet Ltd. are an Investor in People"/>
				<p id="mission">promoting excellence through the application of engineering best practice</p>
				<p id="copyright">&copy; Brass Bullet Ltd. Developed by <a target="_blank" href="http://www.blueprintit.co.uk">Blueprint IT Ltd</a>.</p>
			</div>
		</div>
		<image id="wheels" src="/global/template/base/layout/wheels.gif" alt="Watching the wheels"/>
	</body>
</html>
