<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<stylesheet src="/global/template/base/file/layout/content.css"/>
		<stylesheet src="template/file/layout/layout.css"/>
		<title><var name="title"/></title>
	</head>
	<body>
		<div id="header">
			<image id="logo" src="/global/template/base/file/layout/logo.gif"/>
		</div>
		<block id="content"/>
		<div id="footer">
			<image id="wheels" src="template/file/layout/wheels.gif"/>
			<p>Printed from Brass Bullet Ltd.'s website on <date format="r"/></p>
		</div>
	</body>
</html>
