[config_load file="styles.conf" scope="global"]

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

#leftpane {
  float: left;
  width: 250px;
  margin-right: 10px;
  margin-left: 10px;
}

#mainpane {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

iframe.body {
  padding: 0;
  width: 100%;
  height: 90%;
  overflow: auto;
  border: none 0px;
}

#categorytree .itemcontent div {
  padding: 2px 5px 2px 5px;
}

#categorytree .selected div {
  background-color: Highlight;
}

#categorytree a,
#categorytree a:active,
#categorytree a:hover,
.categorytree a:visited {
  color: WindowText;
  text-decoration: none;
}

#categorytree .selected a,
#categorytree .selected a:active,
#categorytree .selected a:hover,
.categorytree .selected a:visited {
  color: HighlightText;
}

#tabpanel {
  background-image: url([$CONTENT]/images/tabpanel.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  height: 30px;
  width: 100%;
}

#tabpanel table {
  border-collapse: collapse;
  height: 30px;
  table-layout: auto;
}

#tabpanel .tab {
  height: 30px;
  background-color: Window;
  background-repeat: repeat-x;
}

#tabpanel .tab .tableft {
  background-repeat: no-repeat;
  background-position: left top;
  height: 30px;
  padding-left: 13px;
}

#tabpanel .tab .tabright {
  background-repeat: no-repeat;
  background-position: right top;
  height: 30px;
  padding-right: 14px;
  padding-top: 5px;
}

#tabpanel .tab img {
  vertical-align: -0.2em;
  margin-right: 5px;
}

#tabpanel .tab a {
  display: block;
}

#tabpanel .unselected {
  background-image: url([$CONTENT]/images/tab.unselected.back.gif);
}

#tabpanel .unselected .tableft {
  background-image: url([$CONTENT]/images/tab.unselected.left.gif);
}

#tabpanel .unselected .tabright {
  background-image: url([$CONTENT]/images/tab.unselected.right.gif);
}

#tabpanel .selected {
  background-image: url([$CONTENT]/images/tab.selected.back.gif);
}

#tabpanel .selected .tableft {
  background-image: url([$CONTENT]/images/tab.selected.left.gif);
}

#tabpanel .selected .tabright {
  background-image: url([$CONTENT]/images/tab.selected.right.gif);
}

#tabpanel .hover {
  background-image: url([$CONTENT]/images/tab.hover.back.gif);
  cursor: pointer;
}

#tabpanel .hover .tableft {
  background-image: url([$CONTENT]/images/tab.hover.left.gif);
}

#tabpanel .hover .tabright {
  background-image: url([$CONTENT]/images/tab.hover.right.gif);
}

#tabpanel .spacer {
  width: 5px;
}
