@page {
  margin: 0.5pt;
}

html {
}

body {
}

img#logo {
  position: absolute;
  top: 0;
  left: 0;
}

h1#title {
  padding-left: 110px;
  padding-top: 150px;
  width: 350px;
  text-align: left;
  font-size: 2em;
  font-weight: normal;
  color: seagreen;
}

div#content {
  padding-left: 10pt;
  padding-right: 10pt;
}

div#footer {
}

div#footer p {
  text-align: right;
  font-size: 150%;
}
