[config_load file="styles.conf" scope="global"]

a, a:visited {
	color: [#BLUE#];
}

a:hover, a:visited:hover {
	color: [#PURPLE#];
}

.pane {
  height: 100%;
  border: 1px solid ThreeDShadow;
  overflow: auto;
  text-align: center;
  background-color: Window;
  color: WindowText;
}

.header {
  border-bottom: 1px solid ThreeDShadow;
  background-color: ThreeDFace;
  text-align: right;
}

.header form {
  margin: 0;
  padding: 0;
}

.header input[ldelim]type="submit"[rdelim], .header button {
  float: left;
  margin: 10px;
}

.header .toolbarbutton {
  float: left;
  margin: 10px;
  display: block;
}

.header h2 {
  margin: 0;
  padding: 10px;
  color: [#BLUE#];
  font-size: 170%;
}

.body {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

div.first {
  margin-top: 0;
}

.section {
  margin-top: 3em;
}

.sectionheader {
  padding-bottom: 17px;
  background-image: url([$CONTENT]/images/sectionline.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-bottom: 5px;
}

.sectionheader h3 {
  color: [#BLUE#];
  margin: 0;
}

.sectionbody {
}

.sectionbody table.admin {
  width: 100%;
}

.sectionbody td.label {
  vertical-align: middle;
  width: 100px;
  color: [#PURPLE#];
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
}

.sectionbody td.details {
  vertical-align: middle;
  padding-right: 5px;
}

.sectionbody td.description {
  vertical-align: middle;
  padding-right: 5px;
  width: 35%;
}

div.content {
  border: 1px solid [#BLUE#];
  padding: 5px;
}

div.toolbarbutton.disabled {
  color: GrayText;
}

div.toolbarbutton a,
div.toolbarbutton a:visited,
div.toolbarbutton a:hover,
div.toolbarbutton a:active {
  text-decoration: none;
}

div.toolbarbutton {
  border: 1px solid ThreeDShadow;
  background-color: ThreeDFace;
  padding: 3px;
  display: inline;
  white-space: nowrap;
  margin-right: 3px;
}

div.toolbarbutton img {
  vertical-align: middle;
  border: 0;
}

table.sequencelist td.name {
  width: 150px;
}

table.sequencelist td.options img {
  border: 0;
}
