[config_load file="styles.conf" scope="global"]

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

.pane {
  height: 100%;
  border: 1px solid ThreeDShadow;
  overflow: auto;
  text-align: center;
  background-color: Window;
  color: WindowText;
}

#leftpane {
  float: left;
  width: 250px;
  margin-right: 10px;
  margin-left: 10px;
}

#mainpane {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.header {
  border-bottom: 1px solid ThreeDShadow;
  background-color: ThreeDFace;
  text-align: right;
}

.header form {
  margin: 0;
  padding: 0;
}

.header input, .header button {
  float: left;
  margin: 10px;
}

.header .toolbarbutton {
  float: left;
  margin: 10px;
  display: block;
}

.header h2 {
  margin: 0;
  padding: 10px;
  color: [#BLUE#];
  font-size: 170%;
}

.body {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

iframe.body {
  padding: 0;
  width: 100%;
  height: 90%;
  overflow: auto;
  border: none 0px;
}

#categorytree .itemcontent div {
  padding: 2px 5px 2px 5px;
}

#categorytree .selected div {
  background-color: Highlight;
}

#categorytree a,
#categorytree a:active,
#categorytree a:hover,
.categorytree a:visited {
  color: WindowText;
  text-decoration: none;
}

#categorytree .selected a,
#categorytree .selected a:active,
#categorytree .selected a:hover,
.categorytree .selected a:visited {
  color: HighlightText;
}

#tabpanel {
  border-collapse: collapse;
  height: 30px;
  table-layout: fixed;
  width: 100%;
}

@-moz-document url-prefix(http://) {
  #tabpanel .tab {
    -moz-appearance: tab;
    border-top: 0px none !important;
    border-left: 0px none !important;
    border-right: 0px none !important;
  }
}

#tabpanel .tab {
  padding: 5px;
  width: 130px;
  height: 30px;
  text-align: center;
}

#tabpanel .tab a {
  display: block;
}

#tabpanel .unselected {
  background-color: ThreeDFace;
  border: 1px solid ThreeDShadow;
}

#tabpanel .selected {
  background-color: transparent;
  border-top: 1px solid ThreeDShadow;
  border-left: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDShadow;
}

#tabpanel .remainder {
  width: auto;
  background-color: transparent;
  border-bottom: 1px solid ThreeDShadow;
}

#tabpanel .spacer {
  width: 10px;
  padding: 0;
  background-color: transparent;
  border-bottom: 1px solid ThreeDShadow;
}
