<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<stylesheet src="/global/file/styles/global.css"/>
		<stylesheet src="/global/file/styles/layout.css"/>
		<stylesheet src="template/file/layout/single.css"/>
		<title><var name="title"/></title>
	</head>
	<body>
		<div id="header">
			<image id="cogs" src="/global/file/images/cogs.jpg" alt="Cogs"/>
			<image id="logo" src="/global/file/images/logo.gif" alt="Brass Bullet Ltd."/>
			<div id="swim">
				<p style="text-align: center">Brass Bullet Ltd. website content management system provided by</p>
				<p style="text-align: center"><image src="/global/file/images/swimlogo.gif"/> by <image src="/global/file/images/bpitlogo.gif"/></p>
			</div>
		</div>
		<div id="body">
			<block id="content"/>
		</div>
		<div id="curve"></div>
		<div id="footer">
			<div id="base">
				<image id="iip" src="/global/file/images/iip.gif" alt="Brass Bullet Ltd. are an Investor in People"/>
				<p id="mission">&#145;promoting excellence through the application of engineering best practice&#146;</p>
				<p id="copyright">&copy; Brass Bullet Ltd. Developed by <a target="_blank" href="http://www.blueprintit.co.uk">Blueprint IT Ltd</a>.</p>
			</div>
		</div>
		<image id="wheels" src="/global/file/images/wheels.gif" alt="Watching the wheels"/>
	</body>
</html>
