#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
}

#bannerbar {
  margin: 10px 10px 0 10px;
  border: 1px solid ThreeDShadow;
  height: 46px;
  background-color: white;
  background-image: url(gradient.jpg);
  background-position: left center;
  background-repeat: repeat-y;
}

#banner h1 {
  text-align: center;
  font-weight: normal;
  font-size: 32pt;
  color: #2d4492;
}

#banner img {
  vertical-align: middle;
}

#admin {
  position: absolute;
  bottom: 5px;
  right: 15px;
}

#tabpanel {
  top: 66px !important;
}

body {
	padding: 106px 0px 10px 0px !important;
}
