#banner {
  padding-top: 10px;
}

#banner h1 {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid ThreeDShadow;
  background-color: ThreeDFace;
  text-align: center;
  font-weight: normal;
  font-size: 32pt;
  height: 80px;
  color: #2d4492;
}

#banner img {
  vertical-align: middle;
}

#banner #compliance {
  position: absolute;
  bottom: 25px;
  left: 15px;
}

#banner #compliance img {
  float: left;
}

#admin {
  position: absolute;
  bottom: 25px;
  right: 15px;
}
