<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <title><var name="title"/></title>
  <stylesheet src="/internal/file/styles/admin.css"/>
  <stylesheet src="layout/admin.css"/>
</head>
<body>

<div id="banner">
  <h1>
    <image alt="Swim" src="/internal/file/images/swim.png" style="width: 99px; height: 60px;"/>
    by
    <image alt="Blueprint IT Ltd." src="/internal/file/images/bpit.png" style="width: 326px; height: 60px"/>
  </h1>
  <block id="admin" src="internal/block/admin"/>
</div>

<block id="tabpanel"/>

<block id="leftpane" class="pane"/>

<block id="mainpane" class="pane"/>

</body>
</html>
