.site_icon__contactcategory_published {
  background-image: url('../icons/user-group2.gif');
}

.site_icon_mailing_published {
  background-image: url('../icons/email-blue.gif');
}

.site_icon_sentmail_published {
  background-image: url('../icons/email-open-green.gif');
}

.site_icon_draftmail {
  background-image: url('../icons/email-open-grey.gif');
}
