#categorytree .selected div {
  background-color: Highlight;
}

#categorytree a,
#categorytree a:active,
#categorytree a:hover,
.categorytree a:visited {
  color: WindowText;
  text-decoration: none;
}

#categorytree .selected a,
#categorytree .selected a:active,
#categorytree .selected a:hover,
.categorytree .selected a:visited {
  color: HighlightText;
}

.site_itemcontent {
  background-repeat: no-repeat;
  padding: 0 0 0 20px;
  background-position: 2px 2px;
}

.dragframe {
  background-position: 2px 0px !important;
}

.site_container_open, .site_container_open_published {
  background-image: url('../icons/ctopen.gif');
}

.site_container_clsd, .site_container_clsd_published {
  background-image: url('../icons/ctclsd.gif');
}

.site_item {
  background-image: url('../icons/item.gif');
}

.site_item_published {
  background-image: url('../icons/published-item.gif');
}

.site_icon_section {
	background-image: url('../icons/sitemap-blue.gif');
}
