#include internal/file/styles/styles.css

body {
	padding-top: 130px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#banner h1 {
  margin: 10px;
  border: 1px solid ThreeDShadow;
  background-color: ThreeDFace;
  text-align: center;
  font-size: 25pt;
  font-weight: normal;
  height: 70px;
}

#banner img {
  vertical-align: -18px;
}

#tabpanel {
  position: absolute;
  top: 90px;
  left: 0;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

#tabpanel td {
  padding: 5px;
  border: 1px solid ThreeDShadow;
  background-color: ThreeDFace;
  width: 150px;
  height: 30px;
  text-align: center;
}

#tabpanel .remainder {
  width: auto;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

#tabpanel .spacer {
  width: 10px;
  padding: 0;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

#tabpanel .selected {
  background-color: transparent;
  border-bottom: none;
}
