CONTEXT .menuitem span {
  white-space: nowrap;
}

CONTEXT a,
CONTEXT a:visited,
CONTEXT a:hover,
CONTEXT a:active {
  text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

CONTEXT .menupopup {
  display: none;
  position: absolute;
}

CONTEXT,
CONTEXT ul,
CONTEXT ol,
CONTEXT li,
CONTEXT td {
  padding: 0;
  margin: 0;
}

CONTEXT li {
  list-style-type: none;
}

CONTEXT,
CONTEXT table {
  border-collapse: collapse;
}

CONTEXT img.icon, CONTEXT img.hoverIcon {
  vertical-align: middle;
  border: 0px none;
  margin-right: 5px;
}

CONTEXT img.hoverIcon {
  display: none;
}

CONTEXT a.opened img.icon {
  display: none;
}

CONTEXT a.opened img.hoverIcon {
  display: inline;
}
