html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

table {
  font-size: inherit;
}

.pane {
  height: 100%;
  border: 1px solid ThreeDShadow;
  overflow: auto;
  text-align: center;
  background-color: Window;
  color: WindowText;
}

#leftpane {
  float: left;
  width: 250px;
  margin-right: 10px;
  margin-left: 10px;
}

#mainpane {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.pane .header {
  border-bottom: 1px solid ThreeDShadow;
  background-color: ThreeDFace;
  text-align: right;
}

.pane .header form {
  margin: 0;
  padding: 0;
}

.pane .header input, .pane .header button {
  float: left;
  margin: 10px;
}

.pane .header h2 {
  margin: 0;
  padding: 10px;
  color: blue;
}

.pane .body {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 0.8em;
}

.pane iframe.body {
  padding: 0;
  width: 100%;
  height: 90%;
  overflow: auto;
  border: none 0px;
}

.categorytree {
  margin-left: 20px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.categorytree ul {
  padding-left: 20px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.categorytree li {
  vertical-align: middle;
  text-align: left;
  padding: 1px;
}

.categorytree .selected {
  background-color: Highlight;
  color: HighlightText;
}

.categorytree a, .categorytree a:hover, .categorytree a:visited {
  color: WindowText;
  text-decoration: none;
}

.categorytree .selected a, .categorytree .selected a:hover, .categorytree .selected a:visited {
  color: HighlightText;
}

.categorytree .category {
  list-style-image: -swim-url('internal/file/images/category.gif');
}

.categorytree .link {
  list-style-image: -swim-url('internal/file/images/link.gif');
}

.categorytree .page {
  list-style-image: -swim-url('internal/file/images/page.gif');
}

.filetable {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid black;
  width: 90%;
}

.filetable td, .filetable th {
  padding: 3px;
}

.filetable thead {
  border-bottom: 1px solid black;
}

.filetable tbody tr {
  border-bottom: 1px dashed black;
  border-top: 1px dashed black;
}

.filetable tbody tr.selected {
  background-color: Highlight;
  color: HighlightText;
}
