<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<stylesheet src="/global/template/base/layout/layout.css"/>
		<stylesheet src="/global/template/base/layout/menus.css"/>
		<stylesheet src="/global/template/base/layout/content.css"/>
		<stylesheet src="template/layout/single.css"/>
		<script src="/global/template/base/layout/cbdom.js"/>
		<script src="/global/template/base/layout/bpmm.js"/>
		<title><var name="title"/></title>
	</head>
	<body>
		<div id="header">
			<image id="cogs" src="/global/template/base/layout/cogs.jpg" alt="Cogs"/>
			<image id="logo" src="/global/template/base/layout/logo.gif" alt="Brass Bullet Ltd."/>
		</div>
		<div id="body">
			<block id="content"/>
		</div>
		<div id="footer">
			<div id="curve"></div>
			<div id="base">
				<image id="iip" src="/global/template/base/layout/iip.gif" alt="Brass Bullet Ltd. are an Investor in People"/>
				<p id="mission">&#145;promoting excellence through the application of engineering best practice&#146;</p>
				<p id="copyright">&copy; Brass Bullet Ltd. Developed by <a target="_blank" href="http://www.blueprintit.co.uk">Blueprint IT Ltd</a>.</p>
			</div>
		</div>
		<image id="wheels" src="/global/template/base/layout/wheels.gif" alt="Watching the wheels"/>
	</body>
</html>
