#include global/file/styles/styles.css

@media print {
  #header {
    display: none !important;
  }
  
  h1#title {
    display: none !important;
  }
  
  #menubar {
    display: none !important;
  }
  
  #sidemenu {
    display: none !important;
  }
  
  #sidepanel {
    display: none !important;
  }

  #content {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  
  #buttons {
    display: none !important;
  }
  
  #ssl {
    display: none !important;
  }
  
  body {
    padding-top: 0px;
  }
}

body {
  padding-top: -swim-calc(bannerheight+bannermenugap+menuheight+menucontentgap)px;
  padding-bottom: -swim-calc(footerheight)px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: pagebackground;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: -swim-calc(bannerheight)px;
  background-position: top left;
  background-image: -swim-url('global/file/images/header.jpg');
  background-repeat: no-repeat;
}

div#title {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 350px;
  background-image: -swim-url('global/file/images/cornerdragon.gif');
  background-position: top left;
  background-repeat: no-repeat;
}

div#title h1 {
  padding-left: 110px;
  padding-top: 150px;
  text-align: left;
  font-size: 2em;
  font-weight: normal;
  color: seagreen;
}

#menubar {
  position: absolute;
  right: 0;
  top: -swim-calc(bannerheight+bannermenugap);
  height: -swim-calc(menuheight)px;
}
  
#sidemenu {
  position: absolute;
  left: 0;
  bottom: -swim-calc(footerheight-20)px;
  width: 250px;
}

#currency {
  position: absolute;
  left: 0;
  padding-left: 40px;
  bottom: -swim-calc(footerheight)px;
  width: 250px;
  height: -swim-calc(currencyheight)px;
}

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: -swim-calc(footerheight)px;
  background-image: -swim-url('global/file/images/wave.gif');
  background-position: bottom right;
  background-repeat: repeat-x;
}

#buttons {
  position: absolute;
  top: 30px;
  left: 20px;
}

#footer p {
  position: absolute;
  bottom: 25px;
  right: 40px;
  color: white;
  font-size: 1.6em;
}

#footer p a, #footer p a:visited {
  color: white;
}

#footer p a:hover, #footer p a:active {
  color: linkhover;
}

#footer p img {
  border: none;
}

#ssl {
  position: absolute;
  top: 5px;
  right: 20px;
}

#footer img {
  vertical-align: middle;
}

.txtCopyright {
  display: none;
}

#sidepanel {
  position: absolute;
  top: -swim-calc(bannerheight+bannermenugap+menuheight+menucontentgap)px;
  right: 20px;
}

.panel {
  width: 200px;
}

.panel .button {
  margin-left: 10px;
  margin-right: 10px;
}

#body {
  height: 100%;
  overflow: auto;
}

#content {
  padding-right: -swim-calc(30+200)px;
  padding-left: 370px;
}
