#include global/file/styles/styles.css
#content {
	font-size: 0.95em;
}

h1 {
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

h2 {
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

p {
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

p.tight {
	margin-top: 0;
	margin-bottom: 0;
}
