#include global/file/styles/styles.css
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow: hidden;
  margin: 0;
  color: defaultcolor;
  font-family: defaultfont;
	font-size: 83.33%;
	font-weight: normal;
	text-align: justify;
}

h1 {
	font-size: 1.7em;
	font-weight: normal;
	color: h1color;
	font-family: h1font;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: h2color;
	font-family: h2font;
}

p, ul, ol, li, td {
	font-family: paragraphfont;
}

/* Ensure font size cascades properly in quirks mode */
table, td {
  font-size: 100%;
}

a {
	color: linkcolor;
}

a:visited {
	color: linkvisited;
}

a:hover, a:visited:hover {
	color: linkhover;
}

form {
  margin: 0;
  padding: 0;
}

div.button {
  width: 150px;
  height: 29px;
  font-size: 90%;
  font-weight: bold;
  text-align: center;
}

div.button a, div.button a:visited {
  background-image: -swim-url('global/file/images/buttonback.gif');
  background-repeat: no-repeat;
  background-position: left center;
  height: 100%;
  color: white;
  display: block;
  text-decoration: none;
  padding-top: 7px;
  padding-left: 2px;
  padding-right: 2px;
}

div.button a:hover, div.button a:visited:hover {
  background-image: -swim-url('global/file/images/buttonbackhover.gif');
  color: white;
  text-decoration: none;
}

div.button a.basket, div.button a.basket:visited {
  background-image: -swim-url('global/file/images/basketbutton.gif');
  padding-left: 36px;
}

div.button a.basket:hover, div.button a.basket:visited:hover {
  background-image: -swim-url('global/file/images/basketbuttonhover.gif');
}

div.button a.print, div.button a.print:visited {
  background-image: -swim-url('global/file/images/printbutton.gif');
  padding-left: 36px;
}

div.button a.print:hover, div.button a.print:visited:hover {
  background-image: -swim-url('global/file/images/printbuttonhover.gif');
}
