#include global/file/styles/styles.css
body {
	font-family: defaultfont;
	font-size: 1em;
	font-weight: normal;
	color: black;
	text-align: justify;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: h1color;
	font-family: titlefont;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: h2color;
	font-family: titlefont;
}

p {
	font-family: paragraphfont;
}

p.info {
	color: blue;
}

p.warning {
	color: red;
}

ul, ol {
	font-family: paragraphfont;
}

li {
	font-family: paragraphfont;
}

a {
	color: linkcolor;
}

a:visited {
	color: linkvisited;
}

a:hover, a:visited:hover {
	color: linkhover;
}
