#include global/file/styles/styles.css
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow: hidden;
  margin: 0;
  color: defaultcolor;
  font-family: defaultfont;
	font-size: 1em;
	font-weight: normal;
	text-align: justify;
}

h1 {
	font-size: 2em;
	font-weight: normal;
	color: h1color;
	font-family: h1font;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: h2color;
	font-family: h2font;
}

p, ul, ol, li, td {
	font-family: paragraphfont;
}

a {
	color: linkcolor;
}

a:visited {
	color: linkvisited;
}

a:hover, a:visited:hover {
	color: linkhover;
}

div.button {
  text-align: center;
  height: 34px;
  background-image: -swim-url('global/file/images/buttonback.gif');
  background-repeat: repeat-x;
  background-position: right center;
  position: relative;
  padding-left: 34px;
}

div.button img {
  margin-right: 10px;
  margin-left: 0;
  padding: 0;
  border: 0px none;
  position: absolute;
  top: 0;
  left: 0;
}

div.button a, div.button a:hover, div.button a:visited {
  color: white;
  text-decoration: none;
  padding-top: 7px;
  display: block;
}
