#include global/file/styles/styles.css
#highlight {
	margin-top: 20px;
	margin-left: 20px;
	float: right;
	width: 300px;
	border: 2px solid white;
}

#highlight a {
	color: stdblue;
}

#highlight a:visited {
	color: stdblue;
}

#highlight a:hover, #highlight a:visited:hover {
	color: stdorange;
}

#highlightMain {
	padding: 10px;
	margin-top: 20px;
	margin-left: 20px;
	background-color: highlightMainColor;
}

#highlightTitle {
	float: left;
	padding: 10px;
	margin-bottom: 20px;
	background-color: highlightTitleColor;
	width: 250px;
}

#highlightTitle p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-family: paragraphfont;
	color: bordertextcolor;
}

#highlightMain p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: bordertextcolor;
	text-align: left;
}
