#include global/file/styles/styles.css
body {
  padding-top: -swim-calc(bannerheight+bannermenugap+menuheight+menucontentgap)px;
  padding-bottom: -swim-calc(footerheight)px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: pagebackground;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: -swim-calc(bannerheight)px;
  background-position: top left;
  background-image: -swim-url('global/file/images/banner.jpg');
  background-repeat: no-repeat;
}

#title {
  position: absolute;
  top: 5px;
  left: 10px;
  padding-left: 110px;
  padding-top: 150px;
  background-image: -swim-url('global/file/images/cornerdragon.gif');
  background-position: top left;
  background-repeat: no-repeat;
  width: 250px;
  text-align: left;
  font-size: 2em;
  font-weight: normal;
  color: seagreen;
}

#menubar {
  position: absolute;
  right: 0;
  top: -swim-calc(bannerheight+bannermenugap);
  height: -swim-calc(menuheight)px;
}
  
#sidemenu {
  position: absolute;
  left: 0;
  bottom: -swim-calc(footerheight)px;
  width: 250px;
}

#body {
  height: 100%;
}

#content {
  height: 100%;
  overflow: auto;
  padding-right: 10px;
  padding-left: 370px;
}
  
#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: -swim-calc(footerheight)px;
  background-image: -swim-url('global/file/images/wave.gif');
  background-position: bottom right;
  background-repeat: no-repeat;
}

#buttons {
  position: absolute;
  top: 20px;
  left: 20px;
}

#footer p {
  position: absolute;
  bottom: 110px;
  right: 40px;
  color: white;
  font-size: 1.6em;
}

#footer img {
  vertical-align: middle;
}
