#include global/file/styles/styles.css
*.menupopup {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
}

*.menuitem {
	white-space: nowrap;
}

a.itemfocus, a.itemfocus:hover, a.itemfocus:visited, a.itemfocus:visited:hover {
	color: menuhighlight !important;
}

div.popoutright, div.popoutdown {
	display: none;
}

td.menuitem {
	background-color: menubackground;
	padding-left: 18px !important;
	background-position: 0px 5px;
}

td.menufocus {
	background-repeat: no-repeat;
	background-image: -swim-url('global/file/images/bullet.gif') !important;
}

ul.menupopup {
	background-color: menubackground;
	border-top: white 1px solid;
	border-left: white 1px solid;
	border-right: white 1px solid;
}

ul.menupopup li.menuitem {
	display: block;
	padding: 2px !important;
	padding-left: 18px !important;
	margin: 0 !important;
	border-bottom: 1px white solid;
	background-position: 0px 45% !important;
	background-image: none !important;
	font-family: menufont;
}

ul.menupopup li.menufocus {
	background-repeat: no-repeat;
	background-image: -swim-url('global/file/images/bullet.gif') !important;
}
