CONTEXT .level1 ul {
  background-color: white;
  border-top: 1px solid bordergrey;
  border-left: 1px solid bordergrey;
  border-right: 1px solid bordergrey;
  border-collapse: collapse;
}

CONTEXT .level1 li {
  color: bordergrey;
  border-top: 0px none;
  border-left: 0px none;
  border-right: 0px none;
  border-bottom: 1px solid bordergrey;
  display: table-row;
}

CONTEXT .level1 li.opened {
  background-color: brightred;
  color: white !important;
}

CONTEXT .level1 a {
  padding: 3px;
}

CONTEXT .level1 a span {
  font-weight: normal;
  color: bordergrey;
}

CONTEXT .level2 a.opened span {
  font-weight: normal;
  color: white;
}
