#include global/file/styles/styles.css

#sidemenu li.level1 {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid pagebackground;
  text-align: left;
}

#sidemenu a.level1 {
  padding-left: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  background-image: -swim-url('global/file/images/menuicon.gif');
  background-position: left center;
  background-repeat: no-repeat;
}

#sidemenu a, #sidemenu a:visited, #sidemenu a:hover {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

#sidemenu a.level1, #sidemenu a.level1:hover, #sidemenu a.level1:visited {
  color: seagreen;
}

#sidemenu li.level1.menufocus a.level1 {
  background-image: -swim-url('global/file/images/menuiconhover.gif');
  color: deepred;
}

#sidemenu li.level1.menufocus {
  border-bottom-color: bordergrey !important;
}

li.level1.menufocus a.level1, li.level1.menufocus a.level1:hover, li.level1.menufocus a.level1:visited {
  color: deepred;
  font-weight: bold;
}
