#include global/file/styles/styles.css
#define CONTEXT #sidemenu
#include internal/file/styles/menus.css
#include global/file/styles/popups.css

CONTEXT {
  padding-left: 40px;
}

CONTEXT li.level1 {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid pagebackground;
  text-align: left;
}

CONTEXT a.level1 {
  padding-left: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  background-image: -swim-url('global/file/images/menuicon.gif');
  background-position: left center;
  background-repeat: no-repeat;
}

CONTEXT a.level1 span {
  color: seagreen;
}

CONTEXT a.opened {
  background-image: -swim-url('global/file/images/menuiconhover.gif');
}

CONTEXT .level2 a.opened {
  background-image: none;
}

CONTEXT a.level1.opened span {
  color: deepred;
  font-weight: bold;
}

CONTEXT li.level1.opened {
  border-bottom-color: bordergrey !important;
}
