#define SPACING 1
#define headerheight 127
#define menuheight 20
#define sidewidth 150
#define footerheight 70

#define sidetopgap 50

#define defaultfont 'Arial Narrow', Arial, Helvetica, sans-serif
#define paragraphfont Arial, Helvetics, sans-serif
#define borderfont defaultfont

#define yellowborder rgb(234,180,16)
#define bordertextcolor #366aa6

#define pagebackground rgb(246,250,254)

#define menubackground rgb(253,223,101)
#define menuhighlight rgb(87,155,231)

#define highlightMainColor rgb(87,155,231)
#define highlightTitleColor yellowborder

#define h1color bordertextcolor
#define h2color yellowborder

body {
	font-family: defaultfont;
	font-size: 1em;
	font-weight: normal;
}
