#include global/file/styles/styles.css
#menubar {
  background-image: -swim-url('global/file/images/menucorner.gif');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: transparent;
  padding-left: 29px;
}

#mainmenu {
  height: 100%;
  border-collapse: separate !important;
  border-spacing: 0px 0px !important;
}

#mainmenu tr {
  background-color: brightred;
  height: 100%;
  border: 0px none;
}

#mainmenu td {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0;
  height: 100%;
  font-size: 0.9em;
  vertical-align: middle;
  color: white;
}

#mainmenu td.level1.menufocus {
  background-color: seagreen;
}

#mainmenu td.level1 a, #mainmenu td.level1 a:hover, #mainmenu td.level1 a:visited {
  color: white;
  text-decoration: none;
}
