#include global/file/styles/styles.css
table#menu {
	border-collapse: collapse;
	z-index: 10;
}

table#menu tr {
	height: auto;
}

table#menu td {
	width: -swim-calc(100/6)%;
	border-top: 0;
	border-bottom: 0;
	border-left: 1px white solid;
	border-right: 0;
	padding: 0;
	margin: 0;
	background-color: menubackground;
	color: bordertextcolor;
	font-weight: bold;
	font-family: borderfont;
	font-size: 0.8em;
}

table#menu td a, table#menu td a:visited {
	border: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: bordertextcolor;
}

table#menu td a:hover, table#menu td a:visited:hover {
	border: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: bordertextcolor;
}
