#include global/file/styles/styles.css
#define CONTEXT #mainmenu
#include internal/file/styles/menus.css
#include global/file/styles/popups.css

#menubar {
  background-image: -swim-url('global/file/images/menucorner.gif');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: transparent;
  padding-left: 37px;
}

CONTEXT {
  height: 100%;
  border-collapse: separate !important;
  border-spacing: 0px 0px !important;
}

CONTEXT tr {
  background-color: brightred;
  height: 100%;
  border: 0px none;
}

CONTEXT td {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0;
  height: 100%;
  font-size: 0.9em;
  vertical-align: middle;
  color: white;
}

CONTEXT td.level1.opened {
  background-color: seagreen;
}

CONTEXT a.level1 span {
  color: white;
}

CONTEXT .menupopup {
  border-collapse: separate;
}
