<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<stylesheet src="/global/file/styles/global.css"/>
		<stylesheet src="template/file/layout/layout.css"/>
		<title><var name="title"/></title>
	</head>
	<body onload="window.print()">
		<image id="logo" src="/global/file/images/cornerdragon.gif"/>
		<h1 id="title">The very best quality, sustainable food for fish</h1>
		<block id="content"/>
		<div id="footer">
		  <p>Contact <image alt="telephone" src="/global/file/images/telephone.gif"/> +44 (0)1639 896777</p>
		</div>
	</body>
</html>
